# Visual Studio files
*.v12.suo
*.suo
*.log
*.lib
*.sdf
*.opensdf
*.sou
*.vspscc
*.vssscc
*.xml
[Ll]ib*/
[Bb]in*/
[Dd]ebug*/
[Rr]elease*/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/